<html>
<head>
	<title> New Hospital </title>

	<link href="static/stylesheets/style.css" type="text/css" rel="stylesheet">

</head>
<body>

		<div class="top">
			<div>
			Contact Us +91 0123456789   | New@hospital.com
			</div>
		</div>

		<div class="logo">
		<div>
			<table>
				<tr>
					<h1><td width="200px" style="font-size:20px;font-family:forte;"> <font color="#428bca"> New  </font><font color="#000"> Hospital</font> </td></h1>
					<td> 
						<font size="4px">
							<a href="home">HOME</a>
							<a href="about">ABOUT US</a>
							<a href="service">SERVICE</a>
							<a href="doctor">DOCTORS</a>
							<a href="contact">CONTACT US</a>
							<a href="plots">DATA ANALYSIS</a>
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="middle">
		<div  style="background-image:url('static/img/a.jpg')">
		    <div class="bottom-left ">
		    <p> Health Care Services  <br>
			<font size="5px"> We Care About Your Health <br> </font>
		    </p></div>
		</div>
	</div>

	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We Have NewMedcare Plan Options for You! </font> <br> <br>
When you first enroll in NewMedcare and during certain times of the year, you can choose how you get your NewMedcare coverage. There are 2 main ways to get your NewMedcare coverage—Original NewMedcare (Part A and Part B) or a NewMedcare Advantage Plan (Part C). Some people need to get additional coverage, like NewMedcare drug coverage or NewMedcare Supplement Insurance (Medigap).


 <br><br>

Use this information to help you compare your coverage options and decide what coverage is right for you. <br><br>
<ul>
<li> Original NewMedcare includes NewMedcare Part A (Hospital Insurance) and Part B (Medical Insurance).<br><br>
<li> If you want drug coverage, you can join a separate NewMedcare drug plan (Part D).<br><br>
<li> You can use any doctor or hospital that takes NewMedcare, anywhere in the U.S.<br><br>
If you choose Original NewMedcare, you can also decide to:<br><br>
<li>Join a separate NewMedcare drug plan (Part D) if you want drug coverage.<br><br>
<li>Add other insurance (like NewMedcare Supplement Insurance (Medigap), Medicaid, or employee or union coverage), to help pay your out-of-pocket costs (like your 20% coinsurance).
</ul>
<br>
 </td>


					<td> </td>
				</tr>


			</table>
		</div>
		  

	</div>

	<form method="post">
	<div class="bottom_up">
		<button type="submit">Patient info</button>
		<div>
				Make an Appointment
					<table>
						<form method ="POST" action="">
							<tr>
								<td width="500px"> </td>
								<td>	<input type="text" placeholder="First Name" name="fname">
								<td> 	<input type="text" placeholder="Last Name" name="lname">
							</tr>
							<tr height="30px">

							</tr>
							<tr>
								<td width="500px"> </td>
								<td>	<input type="text" placeholder="Email Id" name="email">
								<td> 	<input type="text" placeholder="Mobile No" name="mobile">
							</tr>
							<tr height="30px">

							</tr>
							<tr>
								<td width="500px"> </td>
								<td>	<select> <option> -- Sex -- </option> <option> Male </option> <option> Female </option> </select>
								<td> 	<input type="text" placeholder="appointment date" name="appointment_date">
							</tr>

							<tr height="30px">

						</tr>
						<tr>
							<td width="500px"> </td>
							<td colspan="2">	<textarea placeholder="Message"> </textarea>
						</tr>

							<tr height="30px">

					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<button> SUBMIT </button>
					</tr>
				</form>
			</table>

		</div>
	</div>
	<div class="nav_down">
		<div>
		 &copy; New Hospital
		</div>
	</div>
