<html>
<head>
	<title> New Hospital </title>

	<link href="static/stylesheets/style.css" type="text/css" rel="stylesheet">

</head>
<body>

		<div class="top">
			<div>
			Contact Us +91 0123456789   | New@hospital.com
			</div>
		</div>

		<div class="logo">
			<div>
				<table>
					<tr>
						<h1><td width="200px" style="font-size:20px;font-family:forte;"> <font color="#428bca"> New  </font><font color="#000"> Hospital</font> </td></h1>
						<td> 
							<font size="4px">
								<a href="home">HOME</a>
								<a href="about">ABOUT US</a>
								<a href="service">SERVICE</a>
								<a href="doctor">DOCTORS</a>
								<a href="contact">CONTACT US</a>
								<a href="plots">DATA ANALYSIS</a>
							</font>
						</td>
					</tr>
				</table>
			</div>
		</div>

	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> OUR OUTSTANDING SERVICES</font> <br> <br>

					<font color="#000" size="6px"> What We Offer! </font> <br> <br>


					<ul>
					<li> Satisfactory patients care
					<li> WHITENING
					<li> VACCINATIONS
					<li> LABORATORY
					<li> MEDICAL DRESSAGE
					<li> EMERGENCY CONTRACEPTION
					</ul>
 <br><br>

<br>
 </td>


					<td style="padding-left:20px;"> <img src="static/img/01.jpg" width="400px"></td>
				</tr>


			</table>
		</div>
	</div>

	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">------------ </font> <br> <br>

					<font color="#000" size="6px"> Our Department </font> <br> <br>

					<ul>
					<li> DENTAL Care
					<li> OTOLOGY
					<li> CARDIAC
					<li> HEPATOLOGY
					<li> ORTHOPEDICS
					<li> GASTROENTEROLOGY
					<li> OUTPATIENT
					<li> MENTAL HEALTH
					</ul>


<br>
 </td>


					<td style="padding-left:20px;"> </td>
				</tr>


			</table>
		</div>
	</div>


	<div class="nav_down">
		<div>
		 &copy; New Hospital
		</div>
	</div>
